[Unit]
Description=Input event daemon

[Service]
Type=simple
ExecStart=/opt/input-event-daemon/bin/python3 /opt/input-event-daemon/bin/input-event-daemon --config=/etc/input-event-daemon.conf

[Install]
WantedBy=multi-user.target
